@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.itemConatn{
    width: 400px;
    margin: auto;
    transition: transform 0.1s ease, box-shadow 0.1s ease; 
    max-width: 100%;
}

.itemImg{
    width: 100%;
    object-fit: cover; 
    border-radius: 8px; 
    height: 300px;
    margin-top: 29px;
}

.itemTitle{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    padding-top: 94px;
    
}

.itemdetails{
    font-weight: 400;
    padding-left: 23px;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 14px;
    line-height: 23px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 16px;



}

.itemAmount{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    font-family: "Roboto", sans-serif;

}

.right_arrow{
    width: 50px;
    margin-right: 120px;
    font-family: "Roboto", sans-serif;
}

.arrowBtn{
    border: none;
    background: none;
}