@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.aboutContainer{
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    font-family: "Roboto", sans-serif;

}
.aboutBack{
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
}
.aboutBackgroundImg{
    height: 589px;
    width: 100%;
    font-family: "Roboto", sans-serif;
}
.aboutus{
    margin-top: 40px;
    font-family: "Roboto", sans-serif;

}

.weDo{
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
}

.detailsAboutUs{
    color: #524C42;
    font-size: 19px;
    padding: 20px;
    font-family: "Roboto", sans-serif;


}

.improvements{
    font-weight: 600;
    font-size: 19px;
    padding: 3px;
    font-family: "Roboto", sans-serif;

}

.bng{
    color: #524C42;
    font-size: 18px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;

}

.groups{
    color: #524C42;
    margin-top: 31px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;

}

.FarmersGroup{
    color: #524C42;
    margin-top: 31px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;

}

.key{
    color: #524C42;
    margin-top: 40px;
    font-size: 19px;
    font-family: "Roboto", sans-serif;

}
.led{
    margin-top: 40px;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;


}
.run_by{
    color: #524C42;
    font-size: 18px;
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}



@media (max-width: 768px) {
    .aboutContainer {
        width: 100%;
        padding: 10px;
    }

    .aboutus,
    .weDo {
        font-size: 24px;
    }

    .detailsAboutUs,
    .improvements,
    .groups,
    .FarmersGroup,
    .key,
    .led,
    .run_by {
        font-size: 14px;
        padding: 5px;
    }

    .aboutBackgroundImg {
        height: auto;
    }
}

