.addCart {
    background-color: white;
    position: absolute;
    left: 75%;
    top: 14%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.monthly-giving h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.monthly-giving p {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
}

.dolor {
    display: flex;
}

.dolor .money {
    font-size: 2.5em;
    line-height: 1;
    margin-left: 3px;
    position: relative;
    top: -0.2em;
}

.dolor span:last-child {
    font-size: 1em;
    position: relative;
    top: 0.2em;
    margin-left: 5px;
}

.amount-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.amount-button {
    background-color: #597E52;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.amount-button:hover {
    background-color: #495f42;
}

.add-to-cart {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.add-to-cart:hover {
    background-color: #333;
}

.usd{
    padding-top: 12px;
}

