.addCart {
    background-color: white;
    position: absolute;
    left: 75%;
    top: 14%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.monthly-giving{
    margin-bottom: 10px;
}

.dolarshap{
    font-size: 12px;
    font-weight: 500;
}
.money{
    font-size: 15px;
    padding-left: 3px;
    font-weight: 500;
    margin-top: 2px;

}

.dolor {
    display: flex;
}


.amount-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.amount-buttons {
    background-color: #597E52;
    color: white;
    border: none;
    padding: 8px 28px;
    border-radius: 19px;
    cursor: pointer;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    
}



.add-to-cart {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}



.usd{
    padding-top: 12px;
}

.otherButton{
    width: 200px;
    border: solid 2px whitesmoke;
    border-radius: 15px;
    background-color: white;
}

.amount-button_1{
    border: none;
    color: #555;
    background: none;
    padding: 8px;
}
.amount-button_2{
    border: none;
    color: #555;
    background: none;
    padding: 8px;
}
.amount-button_3{
    border: none;
    color: #555;
    background: none;
    padding: 8px;
}

.headline{

    color: #555;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .addCart{
        position: absolute;
        left: 64%;
        top: -1%;
    }
    .monthly-giving{
        width: 120px;

    }
    .Monthly_Giving{
        font-size: 10px;
    }
    .contribution{
        font-size: 10px;
        padding-top: 8px;

    }
    .dolor{
        font-size: 10px;
    }
    .dolor span:last-child {
        font-size: 8px;
        position: relative;
        top: 5px;
        margin-left: 2px;
    }
    .dolarshap{
        font-size: 9px;
        font-weight: 500;
        padding-left: 40px; 
        padding-bottom: 28px; 
        
        
    }
    
    .amount-buttons {
        background-color: #597E52;
        color: white;
        border: none;
        border-radius: 19px;
        cursor: pointer;
        font-size: 7px;
        width: 20px;
        padding-left: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
       

    .amount-options {
        margin-bottom: 15px;
        display: flex;
        margin-top: 8px;
    }
    .amount-button_1{
        
        padding: 0;
        font-size: 10px;
    }
    .amount-button_2{
       
        padding: 0;
        padding-left: 4px;
        font-size: 10px;
    }
    .amount-button_3{
      
        padding: 0;
        padding-left: 4px;
        font-size: 10px;
    }

    .otherButton{
        border: solid 2px whitesmoke;
        width: 200px;
    }
    .monthly-giving{
        font-size: 0;
    }
    .add-to-cart {
        background-color: black;
        color: white;
        padding: 10px 11px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 11px;
    }

    .dolarshap {
        font-size: 14px;
        font-weight: 500;
    }

}