.donation-contact-form-container {
    padding: 20px;
    width: 600px;
    margin-top: 40px;
    margin: auto;
    margin-top: 44px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
.form-group {
    margin-bottom: 15px;
}
  
.form-group label {
    display: block;
    margin-bottom: 5px;
}
  
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.donate-buttons{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}
  
.contactushTwo{
    text-align: center;
}

@media (max-width: 768px) {
    .donation-contact-form-container {
        width: auto;

    }

}