.col-sm-12 {
    padding: 10px;
    border: solid 4px whitesmoke;
    transition: transform 0.1s ease, box-shadow 0.1s ease; 
    flex: 100%;
    max-width: 100%;
}

.col-sm-12:hover {
    transform: scale(1.00); 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
}

.img_1{
    width: 100%;
    height: 253px;
    object-fit: cover;
}

.title{
    text-align: center;
    font-weight: 600;
    
}

.details{
    text-align: center;
    font-weight: 400;


}


@media (max-width: 768px){
    .details {
        text-align: center;
        font-weight: 400;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 13px;
    }
    .dolarshap{
        font-size: 14px;
        font-weight: 500;
        padding-left: 40px;
        padding-bottom: 28px;    
    }
           

}