@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1200px;
        margin: auto;
    }
}

.row{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    gap:22px;
}

@media screen and (max-width: 768px) {
    .row{
        display: flex;
        flex-direction: column;
    }
}