.donation-form-container {
    width: 800px;
    margin: auto;
    margin-top: 66px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    
}
  
.donateHere{
    text-align: center;
    color: blueviolet;
}

.donate-button{
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 768px) {
    .donation-form-container {
        width: 92%;
        padding: 10px;
    }
  
    .donate-button {
      font-size: 14px;
    }
  }