 .footer{
    background-color: #555843;
    margin-top: 100px;
}

.footerDetails{
    height: 400px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;

}

.aboutUs{
    width: 400px;
  
}

.contactUs{
    width: 400px;
}

.socialMedia{
    width: 400px;
}

.footerDetails {
    display: flex;
    justify-content: space-around;
}

.footerDetails div {
    color: white;
}

.footerDetails h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.learn{
    text-decoration: none;
    color:darkorchid;
    text-decoration: underline;
}

.footerDetails a:hover {
    text-decoration: underline;
}

.fecbook{
    padding-right: 10px;
}

.twiter{
    padding-right: 10px;
}

.insta{
    padding-left: 10px;

} 

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 400px;
}

.footerDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.aboutUs, .contactUs, .social-media-icons {
    flex: 1;
    margin: 10px;
}

.aboutUs h3, .contactUs h3 {
    margin-bottom: 10px;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    color: white;
}
.touch{
    color:darkorchid;
}


@media screen and (max-width: 768px) {
    .footerDetails {
        flex-direction: column;
        text-align: center;
    }

    .aboutUs, .contactUs, .social-media-icons {
        margin: auto;
        padding-top: 20px;
    }

    .icon {
        font-size: 20px;
        margin: 0 5px;
    }
    .decription{
        font-size: 14px;
    }
    .footerDetails div {
        color: white;
        width: 242px;
    }
    .learn{
        font-size: 13px;
        color: darkorchid;
        text-decoration: underline;
    }

    .phoneNum{
        font-size: 14px;
    }
    .email{
        font-size: 14px;

    }
    .touch{
        font-size: 14px;
        color: darkorchid;

    }

}


