
.containerDetails{
    height: 602px;
    position: relative;


}
.backgroundImage{
    width: 100%;
    height: 602px;
}

.heading {
    width: 420px;
    position: absolute;
    top: 39%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}  



.explore{
    position: absolute;
    top: 49%;
    left: 11%;
    width: 130px;
    height: 43px;
    background-color: #FFDC7F;
    text-align: center;
    border: solid 2px #FFEEAD;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 

}

