.containerDetails{
    height: 602px;
    position: relative;


}
.backgroundImage{
    width: 100%;
    height: 602px;
}

.heading {
    width: 420px;
    position: absolute;
    top: 39%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}  



.explore{
    position: absolute;
    display: flex;
    align-items: center;
    top: 49%;
    left: 11%;
    width: 130px;
    height: 43px;
    background-color: #FFDC7F;
    text-align: center;
    border: solid 2px #FFEEAD;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); 
    padding-left: 20px;
    font-size: 16px;
    font-weight: 600;

}

.right_arrow{
    width: 35px;
} 

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.containerDetails {
    position: relative;
    width: 100%;
}

.backgroundImage {
    width: 100%;
    border-radius: 8px;
}

.explore img.right_arrow {
    margin-left: 8px;
}




@media (max-width: 768px) {
    .mainContainer {
        padding: 10px;
    }

    .containerDetails {
        padding: 10px;
        height: 400px;
    }

    .heading {
        width: 240px;
        font-size: 17px;
        position: absolute;
        top: 26%;
        left: 37%;
    }
    .backgroundImage{
        height: 400px;

    }
    .explore {
        position: absolute;
        display: flex;
        align-items: center;
        top: 40%;
        left: 13%;
        padding-left: 20px;
        font-size: 11px;
        font-weight: 600;
        padding-left: 29px;
    }
    .explore img.right_arrow {
     width: 22px;
    }
}


