.navbar{
    height: 70px;
    background-color:white;
    display: flex;
    justify-content: space-between;
}

.shopingCartElements{
    display: flex;
    width: 244px;
    align-items: center;
}
.shopingCart{
    width: 28px;

}

.logoElements{

    display: flex;
    align-items: center;
}

.login{
    width: 65px;
    height: 62px;
    border-radius: 100%;
    margin-left: 62px;

}
.cart{
    color: dimgray;
    padding-left: 4px;
}

  

  
.arrow {
    padding: 6px;
    color: #776B5D;
}
  


.agriculture{
    width: 28px;
    padding: 5px;
}

.logoP{
    color: #597E52;
    font-size: 20px;
    line-height: 2px;
    font-family: sans-serif;
    padding: 15px;

}

.circleimage{
    width: 67px;
    height: 63px;
    border-radius: 100%;
}