
.navbar{
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-bottom: 2px solid #eaeaea; 
}

 .shopingCartElements{
    display: flex;
    width: 283px;
    align-items: center;
}
.shopingCart{
    width: 28px;
    display: flex;

}

.logoElements{

    display: flex;
    align-items: center;
}

.login{
    width: 65px;
    height: 62px;
    border-radius: 100%;
    margin-left: 62px;

}
.cart {
    color: dimgray;
    display: flex;
    padding-left: 4px;
    padding-right: 9px;
    gap: 7px;
    align-items: center;
}

.no-underline {
    text-decoration: none;
}

  
.arrow {
    padding: 6px;
    color: #776B5D;
}
  


.agriculture{
    width: 48px;
    padding: 5px;
}

.logoP{
    color: #597E52;
    font-size: 20px;
    line-height: 2px;
    font-family: sans-serif;
    padding: 15px;

}

.circleimage{
    width: 67px;
    height: 63px;
    border-radius: 100%;
} 


.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-item {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-item:hover {
    background-color: #ddd;
  }
  
  .arrow {
    cursor: pointer;
  } 


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logoElements, .shopingCartElements {
    display: flex;
    align-items: center;
  }
  

  
  @media screen and (max-width: 768px) {
    .navbar {
      align-items: center;
    }
  
    .logoElements, .shopingCartElements {
      width: 100%;
      text-align: center;
    }
  
    .shopingCartElements {
        font-size: 11px;
        gap: 48px;
        width: 154px;
        display: flex;
    }
  
    .dropdown-menu {
      display: block;
      text-align: center;
    }
  
    .dropdown-item {
      display: block;
      padding: 10px;
      text-align: center;
    }

    .login{
        margin-left: 0;
        width: 1px;
    }
    .logoP, .cart {
        font-size: 14px;
    }
    .circleimage {
        width: 30px;
        height: 30px;
        margin-top: 16px;
      }
   
  }
  
 